footer {
  margin-top: 0;              /* Remove gap above footer */
}

.footer-container {
  text-align: center;
}

.footer-line {
  border: 1px solid black;
  width: 100vw;           
  border-top: 1px solid black;
}

.footer-text {
  padding: 12px 0;       /* py-3 */
  font-size: 14px;      /* text-sm */
}
